table caption{
    background-color:#DCA806;
    font-size:1.2em;
    font-weight:bold;
}

table{
    font-family:"Lucida Sans", Verdana, Arial, sans‐serif;
    font-size : 1em;
}

thead, tfoot{
    background-color: #CACACA;
}